{% extends '/master/default.twig' %}
{% set subtitle = "Strona główna" %}

{% block main %}

    <div class="container">

        <div class="row">
            <div class="col">
            
                <h1>Prototyp</h1>

            </div>
        </div>

        <div class="row">
            <div class="col">
            
                <h2>Dashboard</h2>
                <p><a href="{{ globals.sitemap["dashboard"] }}">Przejdź do dashboardu</a></p>

            </div>
        </div>

        <div class="row">
            <div class="col">
            
                <h2>Wydarzenia</h2>
                <ul>
                    <li><a href="{{ globals.sitemap["events-local"] }}">Wydarzenia lokalne</a></li>
                    <li><a href="{{ globals.sitemap["events-global"] }}">Wydarzenia globalne</a></li>
                    <li><a href="{{ globals.sitemap["traces"] }}">Poszlaki</a></li>
                </ul>

            </div>
            <div class="col">
            
                <h2>Przedmioty</h2>
                <ul>
                    <li><a href="{{ globals.sitemap["cards-items-equipment"] }}">Ekwipunek</a></li>
                    <li><a href="{{ globals.sitemap["cards-items-books"] }}">Księgi</a></li>
                    <li><a href="{{ globals.sitemap["cards-items-potions"] }}">Eliksiry</a></li>
                </ul>

            </div>
            <div class="col">
            
                <h2>Zaklęcia</h2>
                <ul>
                    <li><a href="{{ globals.sitemap["spells-offensive"] }}">Zaklęcia bojowe</a></li>
                    <li><a href="{{ globals.sitemap["spells-support"] }}">Zaklęcia wspomagające</a></li>
                    <li><a href="{{ globals.sitemap["spells-individual"] }}">Zaklęcia indywidualne</a></li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col">
            
                <h2>Inne</h2>
                <ul>
                    <li><a href="{{ globals.sitemap["locations"] }}">Lokacje</a></li>
                    <li><a href="{{ globals.sitemap["search"] }}">Przeszukiwanie</a></li>
                    <li><a href="{{ globals.sitemap["search-gold"] }}">Przeszukiwanie - złota kategoria</a></li>
                    <li><a href="{{ globals.sitemap["search-silver"] }}">Przeszukiwanie - srebrna kategoria</a></li>
                    <li><a href="{{ globals.sitemap["search-bronze"] }}">Przeszukiwanie - brązowa kategoria</a></li>
                </ul>

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </div>

{% endblock %}
